<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"> Product </h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            Ecommerce
                        </li>
                        <li class="breadcrumb-item">
                            Product
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-8"></div>
        </div>

        
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" routerLink="/product">List</button>
                <button type="button" class="btn btn-primary" routerLink="/product/form">Add</button>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 5%;">#Sl</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Selling Price</th>
                                <th class="action">Action</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let item of productList; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.serial_number}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.categoryName}}</td>
                                <td>{{item.selling_price}} </td>
                                

                                <td>
                                    <!-- 
                                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)"> Delete </button>
                                    -->
                                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/product/form', item.id]"> Edit </button>
                                    
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>