<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"> Sales </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <alert></alert>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <!-- formulario -->
                <form method="post" enctype="multipart/form-data" class="form-horizontal" (ngSubmit)="createSales()" [formGroup]="salesAddForm">

                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="form-control-label" for="allCategory">Select Category </label>
                                <select name="allCategory" id="allCategory" class="form-control" formControlName="allCategory" [(ngModel)]="sales.allCategory"
                                    (ngModelChange)="selectCat($event)">
                                    <option value="" selected disabled>Select a Category</option>
                                    <option *ngFor="let cat of categoryList" value="{{cat.id}}">{{cat.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="sales.allCategory !=0">
                            <div class="col-md-12">
                                <label for="subCategory" class="form-control-label">Sub Category</label>
                                <select class="form-control" id="subCategory" name="subCategory" formControlName="subCategory" [(ngModel)]="sales.subCategory"
                                    (ngModelChange)="selectsubCategory($event)">
                                    <option value="" selected>Please Select</option>
                                    <option *ngFor="let sbC of subCat" value="{{sbC.id}}">{{sbC.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="sales.allCategory !=0">
                            <div class="col-md-12">
                                <label class="form-control-label" for="allProduct">Product</label>
                                <select class="form-control" id="allProduct" name="allProduct" formControlName="allProduct" [(ngModel)]="sales.allProduct"
                                    (ngModelChange)="selectProduct($event)">
                                    <option value="" selected disabled>Please Select</option>
                                    <option *ngFor="let p of productList" value="{{p.id}}">{{p.name}} - ({{p.stock_quantity-p.damagedQuantity}})</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>





    </div>
</div>