<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"> Sales </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <alert></alert>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <!-- formulario -->
                <form method="post" enctype="multipart/form-data" class="form-horizontal" (ngSubmit)="createSales()" [formGroup]="salesAddForm">

                    <div class="form-group row">
                        <div class="col-md-3">
                            <!-- Begin escolha do porduto -->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="form-control-label" for="allCategory">Select Category </label>
                                    <select name="allCategory" id="allCategory" class="form-control" formControlName="allCategory" [(ngModel)]="sales.allCategory"
                                        (ngModelChange)="selectCat($event)">
                                        <option value="" selected disabled>Select a Category</option>
                                        <option *ngFor="let cat of categoryList" value="{{cat.id}}">{{cat.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="sales.allCategory !=0">
                                <div class="col-md-12">
                                    <label for="subCategory" class="form-control-label">Sub Category</label>
                                    <select class="form-control" id="subCategory" name="subCategory" formControlName="subCategory" [(ngModel)]="sales.subCategory"
                                        (ngModelChange)="selectsubCategory($event)">
                                        <option value="" selected>Please Select</option>
                                        <option *ngFor="let sbC of subCat" value="{{sbC.id}}">{{sbC.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="sales.allCategory !=0">
                                <div class="col-md-12">
                                    <label class="form-control-label" for="allProduct">Product</label>
                                    <select class="form-control" id="allProduct" name="allProduct" formControlName="allProduct" [(ngModel)]="sales.allProduct"
                                        (ngModelChange)="selectProduct($event)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option *ngFor="let p of productList" value="{{p.id}}">{{p.name}} - ({{p.stock_quantity-p.damagedQuantity}})</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End escolha do porduto -->

                        <div class="col-md-9">
                            <!-- Begin carrinho -->
                            <div class="table-responsive">
                                <table class="table table-bordered" id="add-product">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Serial</th>
                                            <th style="width: 30%;">Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let po of salesAddForm.controls.products.controls; let i=index" class="panel panel-default" formArrayName="products">
                                            <td>{{i + 1}}</td>
                                            <td [formGroupName]="i">
                                                <input type="text" class="form-control form-control-sm" readonly [formControl]="po.controls.serial_number" [(ngModel)]="sales.products[i].serial_number">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" [formControl]="po.controls.name" [(ngModel)]="sales.products[i].name">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" [formControl]="po.controls.quantity" [(ngModel)]="sales.products[i].quantity"
                                                    (ngModelChange)="itemChange($event)">
                                            </td>
                                            <td>
                                                <input type="number" class="form-control form-control-sm" [formControl]="po.controls.selling_price" [(ngModel)]="sales.products[i].selling_price"
                                                    (ngModelChange)="itemChange($event)">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control form-control-sm" name="total" [formControl]="po.controls.total" [(ngModel)]="sales.products[i].total"
                                                    readonly>
                                            </td>
                                            <td>
                                                <button (click)="deleteTableRow(i)" class="btn btn-danger btn-sm">x</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End carrinho -->
                    </div>

                    <div class="row">

                        <div class="col-md-6 px-3"><!-- Begin Customer -->
                            <legend class="scheduler-border">Customer</legend>

                            <div class="form-group row">
                                <label for="invoiceCode" class="col-5 col-form-label">Invoice Code</label>
                                <div class="col-7">
                                    <input class="form-control" type="text" id="invoiceCode" name="invoiceCode" formControlName="invoiceCode" [(ngModel)]="sales.invoiceCode"
                                        readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="customer" class="col-5 form-control-label">Customer
                                    <span>*</span>
                                </label>
                                <div class="col-7">
                                    <select class="form-control" id="customer" name="customer" formControlName="customer" [(ngModel)]="sales.customer" (ngModelChange)="selectCustomer($event)">
                                        <option value="" selected disabled>Please Select</option>
                                        <option *ngFor="let item of allCustomer" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="date" class="col-5 col-form-label"> Date <span>*</span> </label>
                                <div class="col-7">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="date" id="date" formControlName="date" [(ngModel)]="sales.date" required ngbDatepicker #d="ngbDatepicker">
                                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Customer -->
                        <div class="col-md-6 px-3"><!-- End Payment -->

                        </div>

                    </div>

                </form>
            </div>
        </div>





    </div>
</div>