.content{
    min-height: 100vh;
    margin-bottom: 20px;
}

.bd-customer{
    border: 1px solid cornflowerblue;
}

.bd-product{
    border: 1px solid red;
}

.bd-cart{
    border: 1px solid rebeccapurple;
}

.bd-type-payment{
    border: 1px solid orange;
}