<div class="content">
    <div class="container-fuid">


        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center">Category: </h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            Ecommerce
                        </li>
                        <li class="breadcrumb-item">
                            Category
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-8"></div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" routerLink="/category">List</button>
                <button type="button" class="btn btn-primary" routerLink="/category/form">Add</button>
                <!-- 
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
                -->
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of categoryList">
                                <td>{{obj.name}}</td>
                                <td>{{obj.description}}</td>
                                <td>
                                    <span *ngIf="obj.status==1" class="badge badge-success">Active</span>
                                    <span *ngIf="obj.status==0" class="badge badge-danger">Inactive</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
    </div>
</div>