<div class="content">
    <div class="container-fuid">

        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"> Product </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            Ecommerce
                        </li>
                        <li class="breadcrumb-item">
                            Product
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Add</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-8"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" routerLink="/product">List</button>
                <button type="button" class="btn btn-primary" routerLink="/product/form">Add</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <!-- 
                <form id="categoryForm" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="category">Product Name</label>
                        <input type="text" name="category" id="category" class="form-control" aria-describedby="categoryHelp" placeholder="Enter category name"
                            required [(ngModel)]="cat.category">
                        <small id="categoryHelp" class="form-text text-muted">We'll never share your category with anyone else.</small>
                    </div>

                    

                    <button type="submit" class="btn btn-primary" (click)="save(this.cat)"> Submit </button>

                </form>
                -->
                
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>