<div class="content">
    <div class="container-fuid">

        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center">Categories: </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Ecommerce</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Category</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Add</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <button type="button" class="btn btn-primary">Add</button>
                <!-- 
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
                -->
            </div>

            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label for="category">Email address</label>
                        <input type="text" class="form-control" id="category" aria-describedby="categoryHelp" placeholder="Enter name category">
                        <small id="categoryHelp" class="form-text text-muted">We'll never share your category with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>